.play-list-section {
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: darkslateblue;
  position: relative;
}

.play-list-top-wrapper {
  width: 100%;
  height: 70px;
  background-color: purple;
  display: flex;

  .play-list-side-toolbar {
    min-width: 10%;
    max-width: 10%;
    height: 70px;
    background-color: blue;
  }

  .play-list-measure-bar-wrapper {
    width: calc(90% - 15px);
    height: 70px;
    overflow-x: auto;
    overflow-y: hidden;
    transform: rotateX(180deg);
    .play-list-measure-bar {
      height: 70px;
      background-color: red;
      transform: rotateX(180deg);
    }
  }
}

.play-list-track-list-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .play-list-track-content-wrapper {
    display: flex;
    width: 100%;
    min-height: 70px;
    max-height: 70px;

    .play-list-track-content-title {
      min-width: 10.2%;
      max-width: 10.2%;
      background-color: orange;
      height: 100%;
      z-index: 10;
      border-bottom: 1px solid black;
    }

    .play-list-track-content-pattern-wrapper-container {
      width: calc(89.8%);
      height: 100%;
      position: relative;
      display: flex;

      .play-list-track-content-pattern-wrapper {
        width: 100%;
        background-color: aqua;
        height: 100%;
        display: flex;
        position: relative;

        .play-list-track-content-pattern-content-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          position: absolute;
          .play-list-track-content-pattern-content {
            height: 100%;
            background-color: blueviolet;
          }
        }
      }
    }
  }
}

.timeline-bar-line {
  width: 3px; /* 선의 너비 */
  z-index: 20;
  height: 100vh;
  background-color: black; /* 선의 색상 */
  position: absolute;
  top: 15px;
  transition: left 1s ease;
}
