.play-list-section {
  width: 54.8%;
  height: 700px;
}

.play-list-article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.timeline-wrapper {
  width: 100%;
  background-color: black;
  height: 20px;
  display: flex;
  .timeline-toolbar {
    width: 8%;
    height: 100%;
    background-color: purple;
  }

  .timeline-bar-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .timeline-bar {
      display: flex;
      flex-direction: column;
      position: relative;
      transition: left 1s ease; /* left 값에 0.5초 동안 ease 애니메이션을 적용 */

      .timeline-bar-triangle {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid red; /* 삼각형의 색상과 방향 */
        margin-bottom: -1px; /* 삼각형과 선이 붙도록 조정 */
      }

      .timeline-bar-line {
        width: 3px; /* 선의 너비 */
        height: 700px; /* 타임라인 높이 - 삼각형 높이 */
        background-color: red; /* 선의 색상 */
      }
    }
  }
}

.play-list-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: blue;
  overflow-y: auto;
  scrollbar-gutter: stable; /* 스크롤바 공간을 양쪽에 확보 */

  .track-list-wrapper {
    height: 700px;
    width: 8.2%;
    background-color: chocolate;
    display: flex;
    flex-direction: column;

    .track-title-wrapper {
      background-color: blueviolet;
      width: 100%;
      min-height: 60px;
      max-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 100%;
        display: block;
      }
    }
  }

  .track-wrapper {
    width: 92%;
    height: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    overflow-y: hidden; /* y축 스크롤 숨기기 */
    .track-contents-wrapper {
      display: flex;
      min-height: 60px;
      max-height: 60px;

      flex-direction: row;
      border-bottom: 1px solid black;

      .track-contents-pattern-wrapper {
        height: 100%;
        background-color: chartreuse;
        border-right: 1px solid black;
      }
    }
  }
}
