.pad-section {
  width: 30%;
  border: 1px solid black;
}
select {
  min-width: 80px;
  max-width: 80px;
}

.pattern-toolbar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 3px;
  gap: 3px;

  .pad-piano-button-wrapper {
    border: 1px solid lime;
    button {
      background-color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px;
    }
  }

  .pattern-toolbar-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
    border: 1px solid lime;
    .pad-play-botton {
      width: 30px;
    }

    button {
      background-color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      color: cyan;
      padding: 1px;
    }
  }
}

.pad-article {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: auto;
  background-color: rgb(90, 89, 89);
}

.pad-pattern-wrapper {
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border-top: 1px solid black;

  .instrument-wrapper {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    .selected-audio-wrapper {
      height: 100%;
      width: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-right: 1px solid black;
      span {
        display: block;
        font-size: 10px;
      }
    }
  }
}

.pad-piano-wrapper {
  width: 80%;
  height: 100%;
  border: 1px solid cyan;
  display: flex;
  flex-direction: column;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 5px;
  width: 80%;

  .checkbox-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    // 기본 체크박스 숨기기
    .checkbox-input {
      appearance: none; // 모든 브라우저에서 기본 스타일 제거
      position: absolute;
      opacity: 0;
      width: 10px;
      height: 20px;

      // 체크박스 레이블 커스텀 스타일
      & + label {
        display: inline-block;
        width: 10px;
        height: 18px;

        border: 1px solid #333;
        position: relative;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 20px;
          top: 0;
          left: 0;
          transform: translate(-50%, -50%);
          background: blue;
          transition: transform 0.01s ease;
          transform: scale(0);
        }
      }

      // 체크박스가 선택됐을 때의 스타일
      &:checked + label:before {
        transform: scale(1); // 체크 표시 효과
      }
    }
    // 4개씩 배경색 번갈아 설정
    &:nth-child(8n + 1),
    &:nth-child(8n + 2),
    &:nth-child(8n + 3),
    &:nth-child(8n + 4) {
      label {
        background: rgba($color: #4e4d4d, $alpha: 0.5);
        box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.3);
        &:before {
          background: rgba($color: #a8a7a7, $alpha: 1);
          box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.3);
        }
      }
    }

    &:nth-child(8n + 5),
    &:nth-child(8n + 6),
    &:nth-child(8n + 7),
    &:nth-child(8n + 8) {
      label {
        background: rgba($color: #ff0000, $alpha: 0.5);
        box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.3);
        &:before {
          background: rgba($color: #ff0000, $alpha: 1); // 파란색 배경
          box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.3);
        }
      }
    }
  }
}

.effector-plugin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border: 1px solid lime;
}
