.instrument-selector-section {
  height: 100vh;
  width: 15%;
  background-color: rgb(57, 56, 56);
}

.instrument-selector-article {
  width: 100%;
  height: 100%;
}

.panel-wrapper {
  width: 100;
}

.group-title {
  display: block;
  background-color: gray;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 18px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  background-color: rgb(179, 178, 178);
  list-style: none;
  padding: 0;
  margin: 0;

  span {
    font-size: 15px;
    margin-left: 3px;
  }
}
